<header>
	<div class="header-top-bar">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6">
					<ul class="top-bar-info list-inline-item pl-0 mb-0">
						<li class="list-inline-item"><a href="mailto:support@gmail.com"><i class="icofont-support-faq mr-2"></i>Phòng Khám Tư</a></li>
						<li class="list-inline-item"><i class="icofont-location-pin mr-2"></i>Address Ta-134/A, New York, USA </li>
					</ul>
				</div>
				<div class="col-lg-6">
					<div class="text-lg-right top-right-bar mt-2 mt-lg-0">
						<a href="tel:+23-345-67890" >
							<span>Call Now : </span>
							<span class="h4">823-4565-13456</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<nav class="navbar navbar-expand-lg navigation" id="navbar">
		<div class="container">
		 	 <a class="navbar-brand" href="/">
			  	<img width="110px" src="static/images/logo.png" alt="" class="img-fluid">
			  </a>

		  	<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarmain" aria-controls="navbarmain" aria-expanded="false" aria-label="Toggle navigation">
			<span class="icofont-navigation-menu"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarmain">
			<ul class="navbar-nav ml-auto">
			  <li class="nav-item active"><a class="nav-link" href="/">Trang Chủ</a></li>
			  <li class="nav-item"><a class="nav-link" href="#">Dịch Vụ</a></li>
				{% if current_user.is_authenticated %}
			  <li class="nav-item"><a class="nav-link" href="{{ url_for('medical_list') }}">Lập Danh Sách Khám</a></li>
			  <li class="nav-item"><a class="nav-link" href="{{ url_for('medicalcertificate') }}">Lập Phiếu Khám</a></li>
			  <li class="nav-item"><a class="nav-link" href="{{ url_for('pay') }}">Thanh Toán</a></li>
				{% endif %}
				{% if current_user.is_authenticated %}
				<li class="nav-item">
        		<a class="nav-link text-danger" href="/">
              	<img src="{{ current_user.avatar }}" class="rounded-circle" width="20px" alt="{{ current_user.name }}" />
            	{{ current_user.name }}
				</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link text-danger" href="{{ url_for('signout') }}">Đăng Xuất</a>
			  </li>
			  {% else %}
			  <li class="nav-item"><a class="nav-link text-danger" href="{{ url_for('user_signin') }}">Đăng Nhập</a></li>
				<li class="nav-item"><a class="nav-link text-danger" href="{{ url_for('user_register') }}">Đăng Ký</a></li>
			  {% endif %}

			</ul>
		  </div>
		</div>
	</nav>
</header>